/* to import 'Montserrat', sans-serif; fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:ital,wght@0,400;0,500;1,700&display=swap');

@import url("footer.css");

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

::-webkit-input-placeholder {
    color: #56585b;
}

::-moz-placeholder {
    color: #56585b;
}

:-moz-placeholder {
    color: #56585b;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family:  'Montserrat', sans-serif;
    margin: 0;
    background-color: rgb(255, 255, 255, 0.8);
    overflow: auto;
}

ul, nav{
    list-style: none;
    padding: 0;
    vertical-align: center;
}

a {
    color: black;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.9;
}

a:hover {
    opacity: 1;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    color: black;
    margin: 0 0 1.5rem;
}

i {
    font-size: 1.3rem;
}

header {
    /* position: absolute; */
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: 10px 100px 0;
    margin-bottom: 50px;
}

header nav ul {
    display: flex;
}

header nav li{
    margin: 0 15px;
}

header nav li:first-child{
    margin-left: 0;
}

header nav li:last-child{
    margin-right: 0;
}

.btn {
    color: black;
    padding: 10px;
    border: 1px solid rgba(255,255,255,0.5);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}
.btn:hover {
    background: #d73851;
    border: 1px solid #d73851;
    color: #fff;
    cursor: pointer;
}

/* @media all and (max-width:800px) {
    body {
        font-size: 0.9rem;
    }
    .flex-form {
        width: 100%;
    }
    input[type="search"] {
        flex-basis: 100%;
    }
    .flex-form > * {
        font-size: 0.9rem;
    }
    header {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        padding: 10px !important;
    }
    header h2 {
        margin-bottom: 15px;
    }
    h1 {
        font-size: 2rem;
    }
    .cover {
        padding: 20px;
    }
} */

/* @media all and (max-width:360px) {
    header nav li{
        margin: 0 10px;
    }
    .flex-form {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }
    input[type="search"] {
        flex-basis: 0;
    }
    label {
        display: none;
    }
} */


.notice-list {
    margin-bottom: 100px;
}

/* 아래 title */
.board_title {
    margin-bottom: 30px;
    text-align: center;
}

.board_title strong {
    font-size: 3rem;
}

.board_title p {
    margin-top: 5px;
    font-size: 1.4rem;
}

/* 검색 폼 */
.search-form {
    text-align: center;
    margin-bottom: 15px;
}
.hidden {
    display: none;
}
fieldset {
    border: none; /* 테두리 선 제거 */
}

table {
    border: 1px #a39485 solid;
    font-size: .9em;
    box-shadow: 0 2px 5px rgba(0,0,0,.25);
    width: 60%;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;

    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

thead {
    font-weight: bold;
    color: #fff;
    background: #73685d;
}

td, th {
    padding: 1em .5em;
    vertical-align: middle;
}

td {
    border-bottom: 1px solid rgba(0,0,0,.1);
    background: #fff;
}

@media all and (max-width: 768px) {

    table, thead, tbody, th, td, tr {
        display: block;
    }

    th {
        text-align: right;
    }

    table {
        position: relative;
        padding-bottom: 0;
        border: none;
        box-shadow: 0 0 10px rgba(0,0,0,.2);
    }

    thead {
        float: left;
        white-space: nowrap;
    }

    tbody {
        overflow-x: auto;
        overflow-y: hidden;
        position: relative;
        white-space: nowrap;
    }

    tr {
        display: inline-block;
        vertical-align: top;
    }

    th {
        border-bottom: 1px solid #a39485;
    }

    td {
        border-bottom: 1px solid #e5e5e5;
    }
}

.indexer {
    margin-top: 20px;
    text-align: center;
}
.text-indexer {
    font-size: 20px;
}
.text-indexer-span {
    color: brown;
    font-weight: bold;
}

.board_page {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.board_page a {
    display: inline-block;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    vertical-align: middle;
    border: 1px solid #ddd;
    border-left: 0;
    line-height: 100%;
}

.board_page a.bt {
    padding-top: 10px;
    font-size: 1.2rem;
    letter-spacing: -1px;
}

.board_page a.num {
    padding-top: 9px;
    font-size: 1.4rem;
}

/*
.board_page a.num.on {
    border-color: #000;
    background: #000;
    color: #fff;
} */

.bt_wrap {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}
.bt_wrap a {
    display: inline-block;
    min-width: 80px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 1.4rem;
}

.bt_wrap a:first-child {
    margin-left: 0;
}

.bt_wrap a.on {
    background: #000;
    color: #fff;
}